<main>
  <header class="brand-name">
    <a [routerLink]="['/']">
      <img
        class="brand-logo"
        src="/assets/logo.svg"
        alt="logo"
        aria-hidden="true"
      />
    </a>
    <select
      class="language-picker"
      value="{{ currentLanguage }}"
      id="languages"
      (change)="changeCurrentLang($event)"
    >
      <div *ngFor="let lang of languages">
        <option value="{{ lang }}">
          {{ lang }}
        </option>
      </div>
    </select>
  </header>
  <section class="content">
    <router-outlet></router-outlet>
  </section>
</main>
