/* You can add global styles to this file, and also import other style files */
:root {
  --primary-color: #5a3cde;
  --secondary-color: #9a9be4;
  --accent-color: #d7cff5;
  --content-padding: 10px;
  --shadow-color: #E8E8E8;
  --content-padding: 10px;
}

* {
  margin: 0px;
}
