<section>
  <form>
    <input
      type="text"
      placeholder="Filter by city"
      #filter
      (keydown.enter)="$event.preventDefault(); searchHousingByCity(filter.value);"
    />
    <button
      class="primary"
      type="button"
      (click)="searchHousingByCity(filter.value)"
    >
      Search
    </button>
  </form>
</section>
<section class="results">
  <div *ngFor="let housingLocation of housingLocations">
    <app-housing-location [housingLocation]="housingLocation" />
  </div>
</section>
